{{#if isJoin}}
	<div data-type="join" {{bind-attr class=classNames data-id=_id data-read=read}}>
		<span class="time">{{unbound time message.time}}</span>
		<span class="column event">{{#if extra.self}}&rarr; You have joined {{unbound message.channel}}{{else}}&rarr; {{unbound userLink false}} ({{unbound message.username}}@{{unbound message.hostname}}) has joined {{unbound message.channel}}{{/if}}</span>
	</div>
{{/if}}
{{#if isPart}}
	<div data-type="part" {{bind-attr class=classNames data-id=_id data-read=read}}>
		<span class="time">{{unbound time message.time}}</span>
		<span class="column event">{{#if extra.self}}&rarr; You have left {{unbound message.channel}}{{else}}&rarr; {{unbound userLink false}} ({{unbound message.username}}@{{unbound message.hostname}}) has left {{unbound message.channel}}{{/if}}</span>
	</div>
{{/if}}
{{#if isQuit}}
	<div data-type="quit" {{bind-attr class=classNames data-id=_id data-read=read}}>
		<span class="time">{{unbound time message.time}}</span>
		<span class="column event">{{#if extra.self}}&larr; You have disconnected{{else}}&larr; {{unbound userLink false}} ({{unbound message.username}}@{{unbound message.hostname}}) has quit: {{unbound message.message}}{{/if}}</span>
	</div>
{{/if}}
{{#if isMode}}
	<div data-type="mode" {{bind-attr class=classNames data-id=_id data-read=read}}>
		<span class="time">{{unbound time message.time}}</span>
		<span class="column event">{{#if extra.self}}&ndash;  You have set the mode {{unbound message.mode}}{{else}}&ndash;  {{unbound userLink false}} sets mode {{unbound message.mode}}{{/if}}</span>
	</div>
{{/if}}
{{#if isTopic}}
	<div data-type="topic" {{bind-attr class=classNames data-id=_id data-read=read}}>
		<span class="time">{{unbound time message.time}}</span>
		<span class="column event">{{#if extra.self}}&ndash;  You have changed the topic to: {{unbound message.topic}}{{else}}&ndash;  {{unbound userLink false}} has changed the topic to: {{unbound message.topic}}{{/if}}</span>
	</div>
{{/if}}
{{#if isNick}}
	<div data-type="nick" {{bind-attr class=classNames data-id=_id data-read=read}}>
		<span class="time">{{unbound time message.time}}</span>
		<span class="column event">{{#if extra.self}}&ndash;  You have changed your nickname to {{unbound message.newnick}}{{else}}&ndash;  {{unbound userLink false}} has changed their nickname to {{unbound message.newnick}}{{/if}}</span>
	</div>
{{/if}}
{{#if isKick}}
	<div data-type="kick" {{bind-attr class=classNames data-id=_id data-read=read}}>
		<span class="time">{{unbound time message.time}}</span>
		<span class="column event">{{#if extra.self}}&larr; You have been kicked from {{unbound message.channel}} ({{unbound message.message}}){{else}}&larr; {{unbound userLink false}} has kicked {{unbound message.kicked}} ({{unbound message.message}}){{/if}}</span>
	</div>
{{/if}}
{{#if isPrivmsg}}
	<div data-type="privmsg" {{bind-attr class=classNames data-id=_id data-read=read data-self=extra.self data-highlight=extra.highlight}}>
		<span class="time">{{unbound time message.time}}</span>
		<span class="column message">{{unbound userLink true}}{{unbound message.message}}</span>
	</div>
{{/if}}