{{#modal-dialog action="close" className="wide listbox"}}
	<div class="modal-header clearfix">
		<h3 class="left">{{title}}</h3>
		<i class="fa fa-times close-icon"></i>
		<div class="list-controls">
			<a href="#" {{bind-attr class=":btn isPrev::disabled"}} {{action prevPage}}>&larr; Previous Page</a>
			<a href="#" class="btn disabled" {{action curPage}}>Page {{page}}</a>
			<a href="#" {{bind-attr class=":btn isNext::disabled"}} {{action nextPage}}>Next Page &rarr;</a>
		</div>
		
	</div>
	<div class="modal-body">
		<table width="100%" cellpadding="0" cellspacing="0" class="infolist">
			<thead>
				<tr>
					{{view App.SortingTableHeader text="Channel" property="channel"}}
					{{view App.SortingTableHeader text="Users" property="users"}}
					{{view App.SortingTableHeader text="Topic" property="topic"}}
				</tr>
			</thead>
			<tbody>
				{{#each controller}}
					<tr>
						<td><a {{bind-attr href="route"}} rel="channel-link" {{action visitLink route}}>{{channel}}</a></td>
						<td width="40">{{users}}</td>
						<td>{{topic}}</td>
					</tr>
				{{else}}
					<tr>
						<td colspan="3">There are no results to display</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
			{{#if loading}}
			<div class="loading">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
			</div>
		{{/if}}
	</div>
{{/modal-dialog}}