<div id="banner">
	<div id="banner-inner" class="clear">
		<div class="banner-left">
			<h2>Reset your password</h2>
		</div>
	</div>
</div>
<div id="main">
	<div id="main-inner">
		<form method="post" {{action "resetSubmit" on="submit"}}><fieldset>
		<div class="clear body">
			<div class="left">
				<p class="large">You can use the form below to reset your password if you have forgotten or lost it.</p>

				<div id="message-holder">
					{{#if errors}}
						<div class="alert-message block-message error">
							<ul>
								{{#each errors}}
								<li>{{this.error}}</li>
								{{/each}}
							</ul>
						</div>
					{{/if}}
				</div>
				{{input type="hidden" valueBinding="model.token" value=token}}

				<div class="clearfix">
					<label for="password">New Password</label>
					<div class="input">
						<div class="field">
							{{input type="password" id="password" valueBinding="model.password" value=password tabindex="1" autofocus="true"}}
						</div>
						<span class="tooltip">
							<a href="#" rel="twipsy" title="Your password, longer than 6 characters">?</a>
						</span>
					</div>
				</div>

				<div class="clearfix">
					<label for="confirmPassword">Confirm Password</label>
					<div class="input">
						<div class="field">
							{{input type="password" id="confirmPassword" valueBinding="model.confirmPassword" value=confirmPassword tabindex="2"}}
						</div>
						<span class="tooltip">
							<a href="#" rel="twipsy" title="Your password, again">?</a>
						</span>
					</div>
				</div>

				<div class="clearfix">
					<div class="input">
						<div class="field">
							{{input type="submit" class="btn primary" value="Reset Password" tabindex="3"}}
						</div>
					</div>
				</div>
			</div>
		</div>
		</fieldset></form>
	</div>
</div>