<a {{bind-attr href=view.url title=title}} {{action 'onClick' view.url}}>
	<span {{bind-attr class=":link view.getClass"}}>
		{{view.title}}
		{{#if view.isPrivmsg}}
			{{#if unread}}
				<span class="alert highlight" {{action "markAsRead" _id bubbles=false}}>{{unread}}</span>
			{{/if}}
		{{else}}
			{{#if highlights}}<span class="alert highlight" {{action "markAsRead" _id bubbles=false}}>{{highlights}}</span>{{/if}}
		{{/if}}
	</span>
</a>