<ul id="channels" class="button-list">
	<li class="show-mobile">
		<a href="#" {{action toggleMobileChannels}} class="button">#</a>
	</li>
</ul>

<ul id="options-menu" class="button-list">
	<li class="dropdown"><a href="#" {{action toggleProperty "showMenu"}} class="dropdown-toggle"><i class="fa fa-bars"></i> <span class="hide-mobile">Options</span></a>
		{{#if showMenu}}
			<ul class="dropdown-menu">
				{{#if tab.isChannel}}
					<li><a href="#" {{action setTopic}}>Set Topic</a></li>
					<li class="divider"></li>
					<li><a href="#" {{action toggleEvents}}>{{toggleEventsText}}</a></li>
					<li class="divider"></li>
					<li><a href="#" {{action toggleCycle}}>{{channelLink}}</a></li>
					<li class="divider"></li>
				{{/if}}
				<li><a href="#" {{action "openModal" "editnetwork"}}>Edit Network</a></li>
				<li><a href="#" {{action toggleConnect}}>{{connectionLink}}</a></li>
				<li><a href="#" {{action closeWindow}}>Close</a></li>
			</ul>
		{{/if}}
	</li>
	{{#if tab.isChannel}}
		<li class="hide-mobile"><a href="#" {{action toggleUsers}}><i class="fa fa-users"></i> {{toggleUsersText}}</a></li>
		<li class="show-mobile"><a href="#" {{action toggleMobileSidebar}}><i class="fa fa-users"></i></a></li>
	{{/if}}
</ul>

<div class="topic-wrap">
	<span class="chan-title">{{tab.title}}</span>
	<span class="chan-modes">{{tab.modes}}</span>
	<span class="chan-desc hide-mobile">{{ircParse tab.desc tab.networkId}}</span>
</div>

<div class="topbar inner"></div>
