<div class="members-title clear">
	<span class="left">Users</span>
	<span class="right">{{filtered.length}}</span>
</div>
<ul>
	{{#if owners.length}}
		<li data-type="op" class="head clear"><span class="left">Owners</span><span class="right">{{owners.length}}</span></li>
		{{view App.DynamicuserlistView type='owners' classType='op' list=controller.owners controller=controller}}
	{{/if}}
	{{#if admins.length}}
		<li data-type="op" class="head clear"><span class="left">Administrators</span><span class="right">{{admins.length}}</span></li>
		{{view App.DynamicuserlistView type='admins' classType='op' list=controller.admins controller=controller}}
	{{/if}}
	{{#if operators.length}}
		<li data-type="op" class="head clear"><span class="left">Operators</span><span class="right">{{operators.length}}</span></li>
		{{view App.DynamicuserlistView type='operators' classType='op' list=controller.operators controller=controller}}
	{{/if}}
	{{#if halfops.length}}
		<li data-type="halfop" class="head clear"><span class="left">Half Operators</span><span class="right">{{halfops.length}}</span></li>
		{{view App.DynamicuserlistView type='halfops' classType='halfop' list=controller.halfops controller=controller}}
	{{/if}}
	{{#if voiced.length}}
		<li data-type="voice" class="head clear"><span class="left">Voiced</span><span class="right">{{voiced.length}}</span></li>
		{{view App.DynamicuserlistView type='voiced' classType='voice' list=controller.voiced controller=controller}}
	{{/if}}
	{{#if normal.length}}
		{{#if displayHeading}}
			<li data-type="user" class="head clear"><span class="left">Users</span><span class="right">{{normal.length}}</span></li>
		{{/if}}
		{{view App.DynamicuserlistView type='normal' classType='user' list=controller.normal controller=controller}}
	{{/if}}
</ul>