<div data-type="part" {{bind-attr class=classNames data-id=content._id}}>
	<span class="time">{{time content.message.time}}</span>
	<span class="column event">{{#if content.extra.self}}&larr; You have left {{content.message.channel}}{{else}}&larr; {{userLink false content}}{{hostname}}has left {{content.message.channel}}{{/if}}</span>
</div>