<div data-type="quit" {{bind-attr class=classNames data-id=content._id}}>
	<span class="time">{{time content.message.time}}</span>
	<span class="column event">{{#if content.extra.self}}&larr; You have disconnected{{else}}&larr; {{userLink false null}} ({{content.message.username}}@{{content.message.hostname}}) has quit: {{ircParse content.message.message}}{{/if}}</span>
</div>