<div data-type="quit" {{bind-attr class=classNames data-id=content._id}}>
	<span class="time">{{time content.message.time}}</span>
	<span class="column event">{{#if content.extra.self}}&larr; You have disconnected: {{ircParse content.message.message ...parentController.parentController.content._id}}{{else}}&larr; {{userLink false content}}{{hostname}}has quit: {{ircParse content.message.message ...parentController.parentController.content._id}}{{/if}}</span>
</div>